.slider_card_parent{
    text-align: left;
    border: 1px solid red;
    width: 20%;
    height: auto;
    padding: 0px 10px;
}
.slider_card_parent>div>img{
    width: 50%;
    margin: auto;
}
.slider_card_parent>div:nth-child(2){
    margin-top: 20px;
}
.slider_card_parent>div:nth-child(2)>p{
    font-size: 13px;
    font-weight: 400;
    line-height: 16.9px;
    color: rgb(0, 30, 115);
    text-decoration: underline;
}
.slider_card_parent>div:nth-child(3){
    margin-top: 15px;
}
.slider_card_parent>div:nth-child(3)>p:nth-child(2){
    font-size: 15px;
    line-height: 18px;
}